---
title: Dashboard
layout: application
---

<nav>
  <div class="row">
    <div class="large-3 columns">
        <h1>Oomi</h1>
    </div>

    <div class="large-9 columns">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li>Device Connection: <strong>Strong</strong></li>
        <li><a href="#" class="button" data-reveal-id="devicemanager">Device Manager</a></li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="row">
    <%= partial 'partials/sidebar' %>

    <div class="large-9 columns">
      <h4>Settings</h4>
      <!-- change me! -->


    </div>
  </div>
</section>

<%= partial 'partials/devicemanager' %>