// Landing Page

#application {
    background-image: url(../images/bg.png);
    background-color: #f9f9f6;
	-webkit-font-smoothing: antialiased; 

	nav {
		padding: 1em;
		background: white;
	    height: 4em;
	    background: #fff;
	    position: relative;
	    width: 100%;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    // above should be user select mixin
	    z-index: 500;
	    -webkit-backface-visibility: hidden;

		 &:after {
		 	content: "";
		    display: table;
		    clear: both;
		    display: block;
		    content: '';
		    position: absolute;
		    // above should be replaced with extend clearfix

		    left: 0;
		    bottom: -4px;
		    width: 100%;
		    height: 4px;
		    z-index: 501;
		    background-image: url(../images/squiggles.png);
		    background-position: 0 -36px;
		    background-color: transparent;
		    background-repeat: repeat-x;
		}

		ul {
			@include inline-list;
			text-align: right;
			float: right;
			padding: 0;
			margin: 0; 

			li {
				margin-top: 3px;
				strong { display: inline-block; }
				
				a {
					font-weight: 600;
					&:hover { color: darken($primary-color, 20%); }
				}

				a.button {
					@include box-shadow(0, -2px, 0, rgba(0,0,0,0.1) inset);
					@include button-size($button-sml);
					@include button-style;
					@include radius;
					font-size: 0.9em;
					top: -2px;
				}
			}
		}

		h1 {
			@include hide-text;
			background: url("../images/landing-logo.png");
			height: 50px;
			width: 310px;
			background-size: 30%;
			background-repeat: no-repeat;
			margin: 0;
			padding: 0;
		}
	}

	section {
		margin-top: 2em;

		.sidebar {
			ul {
				margin-top: 2em;
				&:first-child { margin-top: 0px; }
			
				li>a {
					display: block;
					@include box-sizing;
					height: 33px;
					line-height: 35px;
					padding: 0 10px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-weight: 700;
				}
				.active>a {
				    color: #535251;
				    cursor: default;
				    background-image: url(../images/noise.png);
				    background-color: #f0f0ec;
				    border: 1px solid #e0e0d9;
				    margin: 0 -1px;
				    line-height: 33px;
				    @include border-radius(4px);
	    		}
			}
		}
	}
}

