<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= data.page.title || "Oomi" %> | Oomi</title>

  <meta content='How do you manage your collection of devices?' name='description'>
  <meta content='#' property='twitter:image'>
  <meta content='summary' property='twitter:card'>
  <meta content='@onlyoomi' property='twitter:site'>
  <meta content='Oomi' property='twitter:title'>
  <meta content='How do you manage your collection of devices?' property='twitter:description'>
  <meta content='#' property='og:image'>
  <meta content='website' property='og:type'>
  <meta content='#' property='fb:app_id'>
  <meta content='Oomi Inc.' property='og:site_name'>
  <meta content='Oomi Inc.' property='og:title'>
  <meta content='How do you manage your collection of devices?' property='og:description'>

  <link rel="stylesheet" href="assets/stylesheets/normalize.css" />
  <link rel="stylesheet" href="assets/stylesheets/app.css" />

  <script src="assets/javascript/vendor/custom.modernizr.js"></script>
  <script src="assets/javascript/vendor/jquery.js"></script>

  <script type="text/javascript" src="//use.typekit.net/onu0aee.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body id="application">
  <%= yield %>
  
  <script>
    document.write('<script src=/assets/javascript/vendor/'
      + ('__proto__' in {} ? 'zepto' : 'jquery')
      + '.js><\/script>');
  </script>

  <script src="assets/javascript/foundation/foundation.js"></script>
  <script src="assets/javascript/foundation/foundation.reveal.js"></script>
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/interactions.js"></script>
</body>
</html>
