<div class="large-3 columns sidebar">
  <ul>
    <li class="active"><a href="#">All Systems</a></li>
    <li><a href="#">Door Lock Entry</a></li>
    <li><a href="#">Lighting System</a></li>
    <li><a href="#">Thermostat</a></li>
    <li><a href="#">Vacuum Robot</a></li>
    <li><a href="#">Plant Care System</a></li>
    <li><a href="#">Video Baby Monitor</a></li>
  </ul>

  <ul>
    <li class="active"><a href="#">All Users</a></li>
    <li><a href="#">Mike</a></li>
    <li><a href="#">Chase</a></li>
  </ul>

  <ul>
    <li class="active"><a href="#">All Products</a></li>
    <li><a href="#">Google Glass</a></li>
    <li><a href="#">iPhone</a></li>
    <li><a href="#">iPad</a></li>
  </ul>
</div>