---
title: Oomi
layout: landing
---

<header>
  <nav>
  <div class="row">
    <div class="large-5 large-offset-7 columns">
      <ul>
        <li><a href="#" class="login">Login</a></li>
      </ul>

      <form class="login hide">
        <div class="row collapse">
          <div class="small-5 columns">
            <input type="text" placeholder="Email Address">
          </div>
          <div class="small-5 columns">
            <input type="text" placeholder="Password">
          </div>
          <div class="small-2 columns">
            <a href="/dashboard" class="button prefix">Go</a>
          </div>
        </div>
      </form>


    </div>
  </div>
  </nav>

  <div class="row">
    <div class="large-6  columns">
      <h2 class="subheader">Say hello to</h2>
      <h1>Oomi</h1>
      <p>The universal remote for the connected home.</p>
    </div>
  </div>
</header>






     <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
              <div class="large-6 columns">
                  <p>&copy; Copyright Oomi, Inc.</p>
              </div>
 
              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                  </ul>
              </div>
            </div>
        </div>
      </footer>
 
